@using SIS.Application.Features.Commands.LessonEventCommand.UpdateLessonEvent;
@using SIS.Domain.Entities;
@using SIS.Domain.Enumerations;
@model UpdateLessonEventCommandRequest

<form asp-action="update" method="post">

	<label>Name</label>
	<input asp-for="Name" />

	<label>Classroom number</label>
	<input asp-for="ClassNumber" />

	<label>Start date</label>
	<input asp-for="StartDate" />

	<label>End date</label>
	<input asp-for="EndDate" />

	<label>Period</label>
	<select class="form-control select" asp-for="Period">
		@foreach (Period period in (Period[])Enum.GetValues(typeof(Period)))
		{
			<option value="@period">@period</option>
		}
	</select>

	<label>Group</label>
	<select class="form-control select" asp-for="GroupId">
		@foreach (Group group in (List<Group>)ViewData["Groups"])
		{
			<option value="@group.Id">@group.Name</option>
		}
	</select>

	<label>Subject</label>
	<select class="form-control select" asp-for="SubjectId">
		@foreach (Subject subject in (List<Subject>)ViewData["Subjects"])
		{
			<option value="@subject.Id">@subject.Name</option>
		}
	</select>

	<label>Teacher List</label>
	<select class="form-control select" asp-for="TeacherId">
		@foreach (AppUser teacher in (List<AppUser>)ViewData["Teachers"])
		{
			<option value="@teacher.Id">@teacher.FirstName @teacher.LastName</option>
		}
	</select>


	<button type="submit">Update</button>
</form>
