@using SIS.Application.Features.Commands.LessonEventCommand.UpdateLessonEvent;
@using SIS.Domain.Entities;
@using SIS.Domain.Enumerations;
@model UpdateLessonEventCommandRequest

<div class="col-md-6">
	<div class="card">

		<div class="card-body">
			<form asp-action="update" method="post">
				<div class="form-group">
					<label>Name</label>
					<input asp-for="Name" class="form-control">
				</div>
				<div class="form-group">
					<label>Subject</label>
					<select class="form-control select" asp-for="SubjectId">
						@foreach (Subject subject in (List<Subject>)ViewData["Subjects"])
						{
							<option value="@subject.Id">@subject.Name</option>
						}
					</select>
				</div>
				<div class="form-group">
					<label>Group</label>
					<select class="form-control select" asp-for="GroupId">
						@foreach (Group group in (List<Group>)ViewData["Groups"])
						{
							<option value="@group.Id">@group.Name</option>
						}
					</select>
				</div>
				<div class="form-group">
					<label>Teachers</label>
					<select class="form-control select" asp-for="TeacherId">
						@foreach (AppUser teacher in (List<AppUser>)ViewData["Teachers"])
						{
							<option value="@teacher.Id">@teacher.FirstName @teacher.LastName</option>
						}
					</select>
				</div>
				<div class="form-group">

					<label>Start date</label>
					<input asp-for="StartDate" />

				</div>
				<div class="form-group">
					<label>End date</label>
					<input asp-for="EndDate" />
				</div>
				<div class="form-group">
					<label>Period</label>
					<select class="form-control select" asp-for="Period">
						@foreach (Period period in (Period[])Enum.GetValues(typeof(Period)))
						{
							<option value="@period">@period</option>
						}
					</select>
				</div>
				<div class="text-end">
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>