@using SIS.Application.Features.Queries.GroupQuery.GetAll;
@using SIS.Domain.Entities;
@model GetAllGroupQueryResponse

@section HeadSection
	{
	<script src="~/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
}


<div class="student-group-form">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by ID ...">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by Name ...">
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by Class ...">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search-student-btn">
                <button type="btn" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Subjects</h3>
                        </div>
                        <div class="col-auto text-end float-end ms-auto download-grp">
                            <a asp-action="download" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
                            <a asp-action="create" class="btn btn-primary"><i class="fas fa-plus"></i></a>

                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                        <thead class="student-thread">
                            <tr>
                                <th>
                                    <div class="form-check check-tables">
                                        <input class="form-check-input" type="checkbox" value="something">
                                    </div>
                                </th>
                                <th>#</th>
                                <th>Name</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 0;
                            }
                            @foreach (Group g in Model.Groups)
                            {
                                count++;
                                <tr>
                                    <td>
                                        <div class="form-check check-tables">
                                            <input class="form-check-input" type="checkbox" value="something">
                                        </div>
                                    </td>
                                    <td>@count</td>
                                    <td>
                                        <h2>
                                            <a asp-action="detail" asp-route-id="@g.Id">@g.Name</a>
                                        </h2>
                                    </td>
                                    <td class="text-end">
                                        <div class="actions">
                                            <a asp-action="update" asp-route-id="@g.Id" class="btn btn-sm bg-danger-light">
                                                <i class="feather-edit"></i>
                                            </a>
                                            <a asp-action="delete" asp-route-id="@g.Id" id="deletebtn" class="btn btn-sm bg-success-light me-2">
                                                <i class="feather-delete"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <ul class="pagination m-4 justify-content-center">
                        <li class="page-item @(Model.Groups.HasPrev ? "" : "disabled")">
                            <a class="page-link" asp-action="index" asp-route-Page="@(Model.Groups.ActivePage-1)">Previous</a>
                        </li>

                        @{
                            int currentPage = Model.Groups.ActivePage;
                            int totalPage = Model.Groups.TotalPage;
                        }

                        @for (int i = 1; i <= totalPage; i++)
                        {
                            <li class="page-item @(currentPage == i ? "active" : "")"><a class="page-link" asp-action="index" asp-route-Page="@i">@i</a></li>
                        }

                        <li class="page-item @(Model.Groups.HasNext ? "" : "disabled")">
                            <a class="page-link" asp-route-Page="@(Model.Groups.ActivePage+1)">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



@section BodySection
	{
        <script src="~/assets/js/swalTrigger.js"></script>
}