@using SIS.Application.Features.Queries.SettingQuery.GetForHome;
@using SIS.Application.Features.Queries.SliderQuery.GetAll;
@using SIS.Domain.Entities;

@model GetForHomeSettingQueryResponse

<div class="pt-5"></div>
<div class="container pt-5">
	@await Component.InvokeAsync("SliderVC")
</div>

<div class="row">

	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<ul class="timeline">
					<li>
						<div class="timeline-badge success">
							<i class="fas fa-user"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Sevgi</h4>
							</div>
							<div class="timeline-body">
								<p>
									Biz tələbələrimizi sevirik !
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-badge warning">
							<i class="fas fa-users"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">İnam </h4>
							</div>
							<div class="timeline-body">
								<p>
									Bizim tələbələrimizə inanırıq !
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-badge danger">
							<i class="fas fa-gift"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Bilik</h4>
							</div>
							<div class="timeline-body">
								<p>
									Biz tələbələrimizə bilik veririk !
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Gəlir</h4>
							</div>
							<div class="timeline-body">
								<p>
									Biz tələbələrimizin uğurlarını dəyərləndiririk !
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-badge info">
							<i class="fa fa-save"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Zaman</h4>
							</div>
							<div class="timeline-body">
								<p>
									Biz tələbələrimizin zamanına qənaət edirik !
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-badge success">
							<i class="fa fa-graduation-cap"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Diplom</h4>
							</div>
							<div class="timeline-body">
								<p>
									Biz tələbələrimizə diplom veririk !
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>

<div class="container pt-5">
	<h3>Info</h3>
	<p>@Model.CompanyDescription</p>


</div>

<div class="container pt-5">
	@await Component.InvokeAsync("EventVC")
</div>

<div class="container pt-5">
	@await Component.InvokeAsync("BlogVC")
</div>



<div class="container pt-5">
	<div class="row">
		<div class="col-xl-3 col-sm-6 col-12 d-flex">
			<div class="card bg-comman w-100">
				<div class="card-body">
					<div class="db-widgets d-flex justify-content-between align-items-center">
						<div class="db-info">
							<h6>Students</h6>
							<h3>50055</h3>
						</div>
						<div class="db-icon">
							<img src="~/assets/img/icons/dash-icon-01.svg" alt="Dashboard Icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12 d-flex">
			<div class="card bg-comman w-100">
				<div class="card-body">
					<div class="db-widgets d-flex justify-content-between align-items-center">
						<div class="db-info">
							<h6>Awards</h6>
							<h3>@Model.AwardCount+</h3>
						</div>
						<div class="db-icon">
							<img src="~/assets/img/icons/dash-icon-02.svg" alt="Dashboard Icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12 d-flex">
			<div class="card bg-comman w-100">
				<div class="card-body">
					<div class="db-widgets d-flex justify-content-between align-items-center">
						<div class="db-info">
							<h6>Department</h6>
							<h3>30+</h3>
						</div>
						<div class="db-icon">
							<img src="~/assets/img/icons/dash-icon-03.svg" alt="Dashboard Icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12 d-flex">
			<div class="card bg-comman w-100">
				<div class="card-body">
					<div class="db-widgets d-flex justify-content-between align-items-center">
						<div class="db-info">
							<h6>Revenue</h6>
							<h3>$505</h3>
						</div>
						<div class="db-icon">
							<img src="~/assets/img/icons/dash-icon-04.svg" alt="Dashboard Icon">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted pt-5">
	<!-- Section: Links  -->

	<section class="">
		<div class="container text-center text-md-start mt-5">
			<!-- Grid row -->
			<div class="row">
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card flex-fill fb sm-box">
						<div class="social-likes">
							<p>Like us on facebook</p>
							<h6>@Model.FacebookFollowerCount</h6>
						</div>
						<div class="social-boxs">
							<img src="~/assets/img/icons/social-icon-01.svg" alt="Social Icon">
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card flex-fill twitter sm-box">
						<div class="social-likes">
							<p>Follow us on twitter</p>
							<h6>@Model.TwitterFollowerCount</h6>
						</div>
						<div class="social-boxs">
							<img src="~/assets/img/icons/social-icon-02.svg" alt="Social Icon">
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card flex-fill insta sm-box">
						<div class="social-likes">
							<p>Follow us on instagram</p>
							<h6>@Model.InstagramFollowerCount</h6>
						</div>
						<div class="social-boxs">
							<img src="~/assets/img/icons/social-icon-03.svg" alt="Social Icon">
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card flex-fill linkedin sm-box">
						<div class="social-likes">
							<p>Follow us on linkedin</p>
							<h6>@Model.LinkedInFollowerCount</h6>
						</div>
						<div class="social-boxs">
							<img src="~/assets/img/icons/social-icon-04.svg" alt="Social Icon">
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-3">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<!-- Content -->
					<h6 class="text-uppercase fw-bold mb-4">
						<i class="fas fa-gem me-3"></i>@Model.CompanyName
					</h6>
				</div>
				<!-- Grid column -->
				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Products
					</h6>
					<p>
						<a href="#!" class="text-reset">Our Team</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Our Job List</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Ads</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Policy</a>
					</p>
				</div>
				<!-- Grid column -->
				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Useful links
					</h6>
					<p>
						<a href="#!" class="text-reset">Pricing</a>
					</p>
					<p>
						<a href="#!" class="text-reset">Help</a>
					</p>
				</div>
				<!-- Grid column -->
				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">Contact</h6>
					<p><i class="fas fa-home me-3"></i> @Model.Adress</p>
					<p>
						<i class="fas fa-envelope me-3"></i>
						@Model.Gmail
					</p>
					<p><i class="fas fa-phone me-3"></i> @Model.Phone</p>
					<p><i class="fas fa-print me-3"></i> @Model.Fax</p>
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
	</section>
	<!-- Section: Links  -->
</footer>
<!-- Footer -->
@section BodySection
	{
	<script src="~/assets/plugins/timeline/horizontal-timeline.js"></script>
}